{% extends 'base.html' %}

{% block title %}
ABOUT
{% endblock title %}

{% block css %}

span{
    color: #4cd748;
}
.heading{
	margin-top: 50px;
    text-align:center;
	padding-bottom:20px;
}
.head{
    padding-bottom:50px;
}
.gaf{
    margin-bottom:100px;
    margin-top: 200px;
}
.m{
    margin-bottom:50px;
}

{% endblock css %}

{% block body %}
    <!--About us-->
    <div class="head">
        <div class="container">
            <div class="heading">
                <div class="container">
                    <div class="headline-center" style="margin-bottom: 60px;">
                        <h3>ABOUT <span>BMIwise</span></h3>
                    <div class="line"></div>
                </div>	
            </div>
        </div>

        <h5><span>BMIwise</span> Your dedicated health portal tailored for students. We prioritize the well-being of institute attendees by focusing on BMI (Body Mass Index) management. Our platform offers personalized tools and resources to help students maintain healthy BMI levels, fostering a culture of wellness on campus. With BMIwise, students can access expert advice, track their progress, and embark on a journey towards better health and vitality. Join us in prioritizing your well-being and optimizing your BMI for a healthier student life.
        <br><br>
        Multiple Options For Treatment.<br>
        Full Of Latest Technologies and Equipments.<br>
        
        24/7 Support available.<br>
        Eminent and Experienced faculties.<br>
        <br><br>
        BMIwise promotes holistic student wellness, prioritizing both academic success and physical health for a balanced college experience.
        <br><br>
        <span>--CEO Kaushik Goswami</span> <br>
        </h5>
    </div>
    
    <div>
        <!--card-->
        <div class="gaf">
            <div class="row align-items-start">
                <div class="col">
                    <div class="container" style"margin-top: 100px;">
                        <div class="card" style="height: 130px; width: auto; border: none;" >
                            <div class="card-body">
                                <h5 class="card-title">VISION</h5>
                                <p class="card-text">Ensuring ‘well being’ as a humane commitment to enliven humanity.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style"margin-top: 100px;">
                        <div class="card" style="height: 130px; width: auto; border: none;" >
                            <div class="card-body">
                                <h5 class="card-title">MISSION</h5>
                                <p class="card-text">The ‘well being’ ensured by extension of Available, Accessible, Affordable, Safe, Efficacious, ProfessionalAnd Ethical.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style"margin-top: 100px;">
                        <div class="card"style="height: 130px; width: auto; border: none;" >
                            <div class="card-body" >
                                <h5 class="card-title">CORE VALUES</h5>
                                <p class="card-text">Team Work, Integrity, Responsibility, Compassion, And Ethics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->

    <!-- End About us-->


   <!--OUR DEPARTMENTS-->

    <div class="heading">
        <div class="container">
            <div class="headline-center" style="margin-bottom: 60px;">
                <h4>OUR DEPARTMENTS</h4>
                <div class="line"></div>
            </div>	
        </div>  
    
        <div class="container">
            <p class="1">BMIwise is the healthportal for the students.</p>
            <p class="1">providing healthcare services and monitoring student's health..</p>
        </div>
    </div>

    <!--card-->
    <div class="m">
        <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">PRESSURE</h5>
                            <p class="card-text">Pressure checking and monitoring services provided to ensure optimal health and well-being for students at BMIwise</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body" >
                            <h5 class="card-title">CHOLESTEROL</h5>
                            <p class="card-text">Cholesterol checking and monitoring services offered to safeguard student health and well-being at BMIwise for a healthier lifestyle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="m">
        <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">EMERGENCY CARE</h5>
                            <p class="card-text">At our Institute 24x7 care is provided to all our students, keeping in mind student's dignity and ethical practice. Holistic care is ensured by our team of critical care experts who use a multidisciplinary approach.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body" >
                            <h5 class="card-title">BMI MONITORING</h5>
                            <p class="card-text">BMI checking and monitoring, the pivotal feature, ensures students' health and fosters wellness at BMIwise for an enriched college experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="m">
        <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">HEALTH CHECKUP CAMPAIGNS</h5>
                            <p class="card-text">BMIwise offers biannual health checkup campaigns, completely free for institute students, ensuring regular monitoring of health parameters and promoting overall wellness on campus.



                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card" >
                        <div class="card-body" >
                            <h5 class="card-title">SUGAR</h5>
                            <p class="card-text">Sugar level checking and monitoring services provided to maintain optimal health and well-being for students at BMIwise</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!--end card-->

  

{% endblock body %}