{% extends 'base.html' %}

{% block title %}
BLOG
{% endblock title %}

{% block css %}

.d{
    padding-bottom:80px;
    margin-top: 50px;	
}
p{
    color: #aaaaaa;
    font-size: 18px;
}
.photo{
    padding-bottom:50px;
}
.card{
    border: none;
}


{% endblock css %}

{% block body %}
    <div class="d">
        <div class="container">
            <div class="heading">
                <div class="container">
                    <div class="headline-center" style="margin-bottom: 60px; text-align:center;">
                        <h3>BLOGS</h3>
                        <div class="line"></div>
                    </div>	
                </div>
            </div>
        </div>

        <div class="photo">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="container" style"margin-top: 100px;">
                            <div class="card">
                                <img src="/static/img/blogs/1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Understanding Cholesterol: A Path to Heart Health</h5>
                                    <p class="sub-title">Cholesterol is crucial for bodily functions but excessive levels can lead to heart disease.High cholesterol, stemming from unhealthy diet, lack of exercise, and genetic factors, contributes to arterial plaque buildup. This buildup narrows arteries, leading to increased risk of heart attack and other cardiovascular complications.
                                        <br><br>
                                        These are few tips to keep your cholesterol in check :-
                                        <br><br>
                                        1) Opt for a balanced diet rich in fruits, vegetables, and whole grains. Limit saturated fats and trans fats. Regular exercise is key.<br><br>
                                        2)  Monitor cholesterol levels through regular check-ups. Early detection allows for timely intervention.<br><br>
                                        3) Physical activity is also important.Maintaining a healthy lifestyle is pivotal in controlling cholesterol and safeguarding heart health.

                                        <br><br>
                                        4) In some cases, medication may be necessary to manage cholesterol levels. Consult with a healthcare professional for personalized advice.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By Dr. Ramneek Mahajan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="container" style"margin-top: 100px;">
                            <div class="card">
                                <img src="/static/img/blogs/2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"> Navigating Blood Pressure: A Pathway to Wellness</h5>
                                    <p class="sub-title">Blood pressure measures the force of blood against artery walls. High blood pressure strains the heart and arteries, leading to serious health risks.<br>
                                        <br>
                                        1) Causes of High Blood Pressure: Factors include unhealthy diet, lack of exercise, stress, and genetics.
                                        <br>
                                        <br>
                                        2) Adopt a balanced diet, low in sodium and rich in fruits, vegetables, and lean proteins. Regular exercise and stress management techniques are vital. Medication may be prescribed if necessary.
                                        <br>
                                        <br>
                                        3)  Regular blood pressure checks enable early detection and intervention, reducing the risk of complications.
                                        <br>
                                        <br>
                                        <br>
                                        Prioritizing lifestyle changes empowers individuals to manage blood pressure and enhance overall well-being. </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By Dr. Anant Kumar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="container" style"margin-top: 100px;">
                            <div class="card">
                                <img src="/static/img/blogs/3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Body Weight - What you must know!</h5>
                                    <p class="sub-title">Q: Why is body weight so important to us?
                                        <br>
                                        A: Bodyweight is a vital part of our physical and mental health.
                                        <br>
                                        <br>
                                        Q: What is an ideal body weight?
                                        <br>
                                        A: There is no single defined value for an ideal weight. The ideal weight for a person depends on their height and age.
                                        <br>
                                        <br>
                                        Q: Why is there a weight range?
                                        <br>
                                        A: Your weight depends upon a number of factors. These include your age, muscle mass fat mass, gender and body shape.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By Dr. Vandana Soni</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="container" style"margin-top: 100px;">
                            <div class="card">
                                <img src="/static/img/blogs/4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">IMPORTANCE OF SLEEP IN BRAIN HEALTH</h5>
                                    <p class="sub-title">Those mood swings are for real... Your brain regulates the hormones and the neurotrasnmitters. These chemicals are basically responsible for the way you feel. Chemical compounds like dopamine, serotonin, oxytocin help us feeling good, happy and upbeat. Sleep plays an important role in their regulation. Lack of sleep can make you irritated, impulsive and angry. The moments when you over react and have an outburst are more likely to happen when you have not slept well.
                                        <br><br>
                                        Lack of sleep makes you slow. Sleep deprivation slows down the brain's ability to react quickly. Tired drivers and pilots tend to have more accidents and that is a well known fact. Sleep deprivation slows down the brain akin to getting drunk. Just like you should not be driving under the influence of alcohol the same applies to sleep deprivation. </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By Dr. Manish Baijal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        



    </div>

 {% endblock body %}