{% extends 'base.html' %}

{% block title %}
DOCTOR
{% endblock title %}

{% block css %}

.d{
    padding-bottom:80px;
    margin-top: 50px;	
}
p{
    color: #aaaaaa;
    font-size: 12px;
}
.photo{
    padding-bottom:50px;
}
.card{
    border: none;
}

{% endblock css %}

{% block body %}

    <div class="d">
        <div class="container">
            <div class="heading">
                <div class="container">
                    <div class="headline-center" style="margin-bottom: 60px; text-align:center;">
                        <h3>DOCTORS</h3>
                        <div class="line"></div>
                    </div>	
                </div>
            </div>
        </div>
    </div>

<div class="photo">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. HARSHIL PATEL</h5>
                            <p class="sub-title">/ CONSULTANT(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Pressure Department</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. SAHIL ACHHAVA</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Sugar Department</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. SHREYA SHAH</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cholesterol Department</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. VIJETA KUMARI</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">General Health Checkup</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="photo">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. YAGNESH PATEL</h5>
                            <p class="sub-title"> Senior faculty(ph no:0123456789)</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">BMI Department</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. NAMITA BHOJ</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Dietitian</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. JEEL PATEL</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789)</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fitness Guide</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container" style"margin-top: 100px;">
                    <div class="card">
                        <img src="/static/img/team/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DR. HARMAN</h5>
                            <p class="sub-title">/ Senior faculty(ph no:0123456789) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Health Checkup</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

 {% endblock body %}